<h1>This is the Plant index page</h1>
<p>Find me in app/views/plants/index.html.erb</p>

<%= link_to 'Go home ðŸ¡', root_path %>

<%= link_to 'Create a plant ðŸŒ±', new_plant_path %>

<% @plants.each do |plant| %>
    <h2>Plant name: <%= plant.title %></h2>
    <p>Date acquired: <%= plant.date_acquired %></p>
    <p>Lighting preferences: <%= plant.lighting_preference %></p>
    <p>Last watered: <%= plant.last_watered %></p>
    <%= link_to "Edit", edit_plant_path(plant) %>
    <%= link_to "View plant", plant_show_path(plant) %>
    <%= link_to 'Delete this plant', plant_path(plant), method: :delete, data: { confirm: 'Are you sure you want to kill this plant? ðŸš©' } %>
<% end %>