<h1>Tell me about your new plant 🌱</h1>

<%= form_with model: @plant do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :lighting_preference %>
    <%= form.text_area :lighting_preference %>
  </div>

  <%= link_to 'Cancel', plants_path %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>