<h1>This is the plant show page</h1>

<h1><%= @plant.title %></h1>

<em>Date acquired: <%= @plant.date_acquired %></em>
<p>Lighting preference: <%= @plant.lighting_preference %></p>
<p>Watering frequency: <%= @plant.watering_frequency %></p>
<p>Last watered: <%= @plant.last_watered %></p>