<h1><%= @plant.title %></h1>

<%= image_tag @plant.main_image %>
<p>Lighting preference: <%= @plant.lighting_preference %></p>

<%= link_to "Edit", edit_plant_path %>
<%= link_to "Back", plants_path %>