<h1><%= @plant.title %></h1>

<%= image_tag @plant.main_image %>
<em>Date acquired: <%= @plant.date_acquired %></em>
<p>Lighting preference: <%= @plant.lighting_preference %></p>
<p>Last watered: <%= @plant.last_watered %></p>